@charset "UTF-8";

/*
    Palete de cores
    Verde: #49a09d
    Lilás: #5f2c82
*/

:root{
    --background-mobile: #5f2c82;
    --background-aux: #49a09d;
    --input-campo: #94cfcd;
}


*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html,body{
    width: 100vw;
    height: 100vh;
}

body{
    background-color: var(--background-mobile);
    position: relative;
}

main{
    position: absolute;
    width: 250px;
    background-color: white;
    left: 50%;
    top: 50%;
    overflow: hidden;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.452);

    transition: width 0.25s, height 0.25s;
    transition-timing-function: ease;
}

div#imagem{
    background-image: url(../imagens/building-phone.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 230px;
    
}

section{
    padding: 10px;
    padding-bottom: 45px;
}

section h1{
    margin-bottom: 10px;
    text-align: center;
}

section p{
    font-size: 12px;
    margin-bottom: 8px;
    text-align: left;
}

section form > div{
    height: 40px;
    margin-bottom: 5px;
    border-radius: 7px;
}

div.campo{
    background-color: var(--background-mobile);
    position: relative;
}

div.campo input{
    position: absolute;
    left: 18%;
    width: 80%;
    background-color: var(--input-campo);
    height: 90%;
    border-radius: 10px;
}

div.campo input::placeholder{
    color: #555;
    padding: 5px;
    font-size: 15px;
}

div.button input{
    height: 100%;
    font-size: 15px;
}

div.button input#enviar{
    width: 100%;
    background-color: var(--background-aux);
    border-color: var(--background-aux);
    border-radius: 10px;
    color: white;
}


button{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    border-color: var(--background-aux);
    color: var(--background-aux);
    font-size: 15px;
}

div#button span{
    font-size: 15px;
}