@charset "UTF-8";

/*
    Palete de cores
    Verde: #49a09d
    Lilás: #5f2c82
*/

:root{
    --background-mobile: #5f2c82;
    --background-aux: #49a09d;
    --input-campo: #94cfcd;
}


*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html,body{
    width: 100vw;
    height: 100vh;
}

body{
    background-color: var(--background-mobile);
    position: relative;
}

main{
    position: absolute;
    width: 250px;
    background-color: white;
    left: 50%;
    top: 50%;
    overflow: hidden;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.452);
    height: 520px;
    transition: width 0.25s, height 0.25s;
    transition-timing-function: ease;
}

div#imagem{
    background-image: url(../imagens/building-phone.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 230px;
    
}

section{
    padding: 10px;
    padding-bottom: 45px;
}

section h1{
    margin-bottom: 10px;
    text-align: center;
}

section p{
    font-size: 12px;
    margin-bottom: 8px;
    text-align: left;
}

div{
    text-align: center;
    height: 40px;
    margin-bottom: 5px;
    border-radius: 5px;
}

div.campo{
    background-color: var(--background-mobile);
    border: 1px solid var(--background-mobile);
    text-align: left;
    overflow: hidden;
    border-radius: 8px;
}

div.campo span{
    color: white;
    font-size: 30px;
    padding: 5px;
    width: 15%;

}

div.campo input{
    background-color: var(--input-campo);
    height: 100%;
    border-radius: 8px;
    width: 83%;
    transform: translate(0px,-11px);
}

div.campo input::placeholder{
    color: black;
    padding: 5px;
}

div.campo input:focus-within{
    background-color: white;
}

input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 5px;
}

input#entrar{
    background-color: var(--background-aux);
    color: white;
    border: none;
}

input#entrar:hover{
    background-color: #285755f8;
}

div#senha{
    color: var(--background-aux);
    border: 1px solid var(--background-aux);
    padding: 5px;
}

div#senha a{
    text-decoration: none;
    color: var(--background-aux);
}

div#senha a > span{
    font-size: 1em;
}

div#senha:hover{
    background-color: var(--input-campo);
}